html {
  font-family: var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif);
  font-weight: var(--tkww-union-typography-regular-font-weight, 400);
  background-color: #c4d9bc;
}

h1 {
  font-weight: var(--tkww-union-typography-category-h1-font-weight, var(--tkww-union-typography-bold-font-weight, 500));
  font-family: var(--tkww-union-typography-category-h1-font-family, var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  font-size: var(--tkww-union-typography-category-h1-font-size, 1.875rem);
  line-height: var(--tkww-union-typography-category-h1-line-height, 1.2);
}

h2 {
  font-weight: var(--tkww-union-typography-category-h2-font-weight, var(--tkww-union-typography-bold-font-weight, 500));
  font-family: var(--tkww-union-typography-category-h2-font-family, var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  font-size: var(--tkww-union-typography-category-h2-font-size, 1.75rem);
  line-height: var(--tkww-union-typography-category-h2-line-height, 1.2142857143);
}

h3 {
  letter-spacing: var(--tkww-union-typography-category-h3-letter-spacing, 0);
  font-weight: var(--tkww-union-typography-category-h3-font-weight, var(--tkww-union-typography-bold-font-weight, 500));
  font-family: var(--tkww-union-typography-category-h3-font-family, var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  font-size: var(--tkww-union-typography-category-h3-font-size, var(--tkww-union-typography-scale-600-font-size, 1.5rem));
  line-height: var(--tkww-union-typography-category-h3-line-height, 1.1666666667);
}

h4 {
  letter-spacing: var(--tkww-union-typography-category-h4-letter-spacing, 0);
  font-weight: var(--tkww-union-typography-category-h4-font-weight, var(--tkww-union-typography-bold-font-weight, 500));
  font-family: var(--tkww-union-typography-category-h4-font-family, var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif));
  font-size: var(--tkww-union-typography-category-h4-font-size, 1.375rem);
  line-height: var(--tkww-union-typography-category-h4-line-height, 1.1818181818);
}

@media (max-width: 767.98px) {
  h1 {
    font-size: var(--tkww-union-typography-category-h1-font-size, 1.75rem);
    line-height: var(--tkww-union-typography-category-h1-line-height, 1.2142857143);
  }
}
@media (max-width: 767.98px) {
  h2 {
    font-size: var(--tkww-union-typography-category-h2-font-size, 1.625rem);
    line-height: var(--tkww-union-typography-category-h2-line-height, 1.2307692308);
  }
}
@media (max-width: 767.98px) {
  h3 {
    font-size: var(--tkww-union-typography-category-h3-font-size, 1.5rem);
    line-height: var(--tkww-union-typography-category-h3-line-height, 1.1666666667);
  }
}
@media (max-width: 767.98px) {
  h4 {
    font-size: var(--tkww-union-typography-category-h4-font-size, 1.375rem);
    line-height: var(--tkww-union-typography-category-h4-line-height, 1.1818181818);
  }
}
strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

a {
  font-family: var(--tkww-union-typography-primary-font-family, union-primary-font, union-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif);
  font-weight: inherit;
}

html {
  font-size: var(--tkww-union-typography-base-font-size, 16px);
  line-height: var(--tkww-union-typography-base-line-height, 1.5);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--tkww-union-links-default-color, var(--tkww-union-color-link-on-light, var(--tkww-union-color-additional-01extra-400, #0073E6)));
  text-decoration: none;
}

:focus {
  outline: none;
}

:focus-visible {
  outline-color: var(--tkww-union-essentials-outline-color, var(--tkww-union-color-additional-01extra-400, #0073E6));
  outline-offset: var(--tkww-union-essentials-outline-offset, 2px);
  outline-style: solid;
  outline-width: 3px;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, * ::before, * ::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
  padding: 0;
}

a, area, button, [role=button], input, label, select, summary, textarea {
  touch-action: manipulation;
}

input, textarea, button, select {
  color: inherit;
  font-family: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #c4d9bc;
}

#TravelListMainContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0%;
  overflow-y: scroll;
}

.TravelListLocations {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.TravelListLocation {
  display: flex;
  flex-direction: row;
  border: 1px #c29e29 solid;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  height: fit-content;
}

.TravelListLocationImage {
  width: 40%;
  overflow-x: hidden;
}

.TravelListLocationImage > img {
  width: 100%;
  min-height: 100%;
  max-height: 10vh;
  object-fit: cover;
}

.TravelListLocationRight {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TravelListLocationInfoContainer {
  position: relative;
  left: 5%;
  width: 100%;
}

.TravelListLocationRatingContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.TravelListLocationHeroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
  z-index: 0;
  width: 100%;
}

.TravelListLocationButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5%;
  padding-right: 3%;
  z-index: 1;
}

.TravelListLocationButton {
  max-width: max-content;
  padding: 3%;
  min-width: fit-content;
  text-align: center;
  border: 1px #c29e29 solid;
  border-radius: 15px;
  transition: all 0.25s;
  color: black;
  overflow: hidden;
}

.TravelListLocationButton:hover {
  background-color: #c29e29;
  color: white;
}

@media screen and (max-width: 768px) {
  .TravelListLocations {
    min-width: 100%;
  }
  .TravelListLocation {
    width: 100%;
    position: relative;
    min-height: 100%;
    flex-direction: column;
  }
  .TravelListLocationRight {
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: row;
  }
  .TravelListLocationRatingContainer {
    display: none;
  }
  .TravelListLocationHeroContainer {
    margin-bottom: 10px;
  }
  .TravelListLocationInfoContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 10px;
    width: 100%;
    height: 220px;
    align-content: flex-end;
  }
  .TravelListLocationImage {
    width: 100%;
    height: 100px;
    position: absolute;
    overflow: visible;
  }
  .TravelListLocationImage > img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    object-position: 0% 50%;
  }
  .TravelListLocationButtonContainer {
    transform: scale(1);
    margin-right: 5px;
  }
}
@media screen and (min-width: 1080px) {
  .TravelListLocation {
    height: fit-content;
  }
  .TravelListLocationButtonContainer {
    transform: scale(1);
    margin-top: 20%;
  }
}

/*# sourceMappingURL=TravelListComponent.css.map */
