#TravelListMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0%;
    overflow-y: scroll;
}

.TravelListLocations {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.TravelListLocation {
    display: flex;
    flex-direction: row;
    border: 1px goldenrod solid;
    text-decoration: none;
    color: #000;
    overflow: hidden;
    height: 20vh;
    max-height: 20vh;
}

.TravelListLocationImage {
    width: 40%;
    overflow-x: hidden;
}

.TravelListLocationImage > img {
    width: 100%;
    min-height: 100%;
    max-height: 10vh;
    object-fit: cover;
}

.TravelListLocationRight {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.TravelListLocationInfoContainer {
    position: relative;
    left: 5%;
    width: 100%;
}

.TravelListLocationRatingContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.TravelListLocationHeroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
    width: 100%;
}

.TravelListLocationButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 5%;
    padding-right: 3%;
    z-index: 1;
}

.TravelListLocationButton {
    max-width: max-content;
    padding: 3%;
    min-width: fit-content;
    text-align: center;
    border: 1px goldenrod solid;
    border-radius: 15px;
    transition: all 0.25s;
    color: black;
    overflow: hidden;
}

.TravelListLocationButton:hover {
    background-color: goldenrod;
    color: white;
}

@media screen and (max-width: 768px) {
    .TravelListLocations {
        min-width: 100%;
    }

    .TravelListLocation {
        width: 100%;
        height: 20vh;
        flex-direction: column;
    }

    .TravelListLocationRight {
        position: relative;
        height: 60%;
        width: 100%;
        flex-direction: row;
    }

    .TravelListLocationRatingContainer {
        display: none;
    }

    .TravelListLocationInfoContainer {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        top: 0;
        left: 10px;
        height: 100%;
        align-content: space-between;
    }

    .TravelListLocationImage {
        width: 100%;
        overflow: hidden;
    }

    .TravelListLocationImage > img {
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        object-position: 0% 50%;
    }

    .TravelListLocationButtonContainer {
        transform: scale(1);
        margin-right: 5px;
    }
}

@media screen and (min-width: 1080px) {
    .TravelListLocation {
        height: fit-content;
    }

    .TravelListLocationButtonContainer {
        transform: scale(1);
        margin-top: 20%;
    }
}