.FAQList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#FAQListMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.QuestionsContainer {
    width: 90%;
    height: 40%;
    min-height: 40%;
    border-color: rgb(97, 80, 68);
    border-width: 0.1vw;
    border-style: solid;
    background-color: white;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

#FAQTitle {
    margin-top: 2%;
    align-self: center;
}

#questionsList {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 15%;
}