.MenuBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.MenuBarMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-wrap: normal;
    width: 100%;
}

.MenuBarMainContainer > a {
    margin-left: 1%;
    margin-right: 1%;
    font-family: Spectral;
    color: #5E5E58;
    font-size: 1.5vw;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    display: block;
    letter-spacing: 2px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.MenuBarMainContainer > a:hover {
    border-bottom-color:#a8a8a8;
}

#menuButton {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 768px) {
    .MenuBar {
        height: 19vw;
        width: 100%;
        z-index: 10;
    }

    .MenuBar#menuClicked {
        position: absolute;
        background-color: #F5F1EB;
        top: 0;
        width: 100%;
        height: 500%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .clicked#menuButton {
        visibility: visible;
        display: block;
        height: 7.5%;
        width: 7.5%;
        margin: 0;
        margin-top: 3.5%;
        margin-left: 2%;
        margin-bottom: 4%;
    }

    .unclicked#menuButton {
        visibility: visible;
        display: block;
        position: absolute;
        height: 7.5%;
        width: 7.5%;
        margin-top: 5.5%;
        margin-left: 2%;
        
    }

    #menuButton > img {
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
    }

    .MenuBarMainContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 100%;
    }

    .MenuBarMainContainer#menuUnclicked a {
        visibility: hidden;
        display: none;
    }

    .MenuBarMainContainer > a {
        margin-bottom: 5%;
        font-size: 130%;
        transition: all 0s;
        border: none;
    }

    .MenuBarMainContainer#menuClicked a {
        visibility: visible;
        display: block;
        padding-left: 2%;
    }
}