.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#HomeMainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#HomeMainContainer > .MenuBar > * > #homelink {
    border-bottom-color: #5E5E58;
}

#homeImage {
    position: relative;
    margin-top: 5%;
    height: 120vh; /* Ensure there's enough height for scrolling */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#bgimage {
    width: 50vw; /* Starting size at 50% of the viewport width */
    position: absolute;
    top: 0; /* Align with the top of the scroll-image section */
    left: 50%;
    transform: translateX(-50%);
}

#homefootertext {
    margin-top: 8%; 
    margin-bottom: 2%;
    font-size: 3.5vw;
}

#homefooterdate {
    margin-bottom: 8%;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

#homefootertext, #homefooterdate {
    font-family: Abhaya Libre;
    color: #5E5E58;
    text-transform: uppercase;
    

}

#homefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #bgimage {
        margin-top: 5%;
    }    
}