@use 'app';

.FAQList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 6%;
}

.FaqHeader {
    width: 100%;
    text-align: center;
    position: relative;
}

#FaqHeaderImage {
    /* The image used */
    background-image: url("../../Resources/Photos/postlewaits2.jpg");
  
    /* Set a specific height */
    height: 30vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#FAQListMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content + 5%;
}

.QuestionsContainer {
    width: 90%;
    height: 100%;
    min-height: 40%;
    border-color: app.$secondary-color;
    border-width: 0.1vw;
    border-style: solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#FAQTitle {
    width: 70%;
    background-color: white;
    font-family: "Abhaya Libre";
    color: black;
    font-weight: 600;
    
}

#questionsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6%;
    margin-bottom: 5%;
    height: 100%;
    align-items: center;
}

.QuestionBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    border: 1px solid rgba(app.$secondary-color, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(app.$secondary-color, 0.5);
    border-radius: 5px;
    transition: all 0.25s;
    width: 70%;
    height: 12rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.QuestionBox:hover {
    box-shadow: 0px 0px 10px 6px rgb(app.$secondary-color, 0.5);
    transform: scale(1.02);
}

.Question {
    margin: none;
    padding: none;
    font-family: "Abhaya Libre";
    font-weight: 600;
    color: black;
}

.Answer {
    margin: none;
    padding: none;
    font-family: "Abhaya Libre";
    font-size: larger;
    color: black;
}

@media screen and (max-width: 768px) {
    .FAQList {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .Question {
        font-size: 130%;
    }
    
    .Answer {
        font-size: 100%;
    }

    .QuestionBox {
        padding-top: 5%;
        height: fit-content;
        width: 90%;
    }

    #FaqHeaderImage {
        position: relative;
        background-attachment: scroll;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #FAQTitle {
        position: absolute;
        margin: 0%;
        width: 90%;
    }
}

@media screen and (min-width: 1080px) {
   #FAQListMainContainer {
    width: 80%;
   }

   #FAQHeaderImage {
    background-position: 20px bottom;
   }
}