@use 'app';

#AccountMainContainer > .MenuBar > * > #accountLink {
    border-bottom-color: app.$secondary-color;
    
}

.AccountPage {
    width: 100%;
    height: fit-content;
}

#AccountMainContainer {
    width: 100%;
    min-height: 30vh;
    height: fit-content;
}

#account-wrapper {
    width: 72%;
    min-height: 30vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 14%;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid app.$secondary-color;
    margin-bottom: 100px;
}

#signout {
    position: absolute;
    bottom: 10%;
    left: 10%;
    border: 1px solid app.$secondary-color;
    border-radius: 15px;
    padding: 3% 3%;
    color: black;
    transition: all 0.25s;
}

#signout:hover {
    background-color: app.$secondary-color;
    color: white;
    box-shadow: 0px 0px 6px 2px rgb(app.$secondary-color, 0.4);
}

#account-wrapper h1 {
    border-bottom: 1px app.$secondary-color solid;
    text-align: center;
    width: 100%;
}

#account-tables {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30vh;
    height: 100%;
}

#account-selections {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    min-height: 30vh;
    border-right: 1px app.$secondary-color solid;
    position: relative;
}

#account-data {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 5%;
}